body
{
    width: 100%;
    height: 100%;
    background: url("../img/Background.png");
    background-size:101%;
    background-attachment: fixed;
    font-style: normal;
    font-weight: normal;


}
*, *:after,*:before
{
    padding: 0;
    margin: 0;
}

header
{
    background: #FAFAFA;
    height: 80px;
    padding-top: 12px;
    position: fixed;
    width:100%;
    transition: 0.5s;
    z-index: 40;
}

h3
{
    margin-bottom:1em;
}

p
{
    margin-top:0.5em;
}


ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
    outline: none;
}
p
{
    text-decoration: none;
    outline: none;
}
.nav
{
    padding:6px 0;
    padding-right: 15px;
}
/*ul*/
/*{*/
/*    float: right;*/
/*    display: flex;*/
/*}*/

.logo
{
    display: flex;
    float: left;
    width: 200px;
    height: 50px;
    margin-left: 100px;
    padding-top: 0px;
}

.logo:hover
{
    cursor: pointer;
}

.logo .text
{
    width: 100px;
    height: 30px;
    font-family: 'Stalinist One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #313131;
}

.logo:hover .text
{
    color: #818181;
}

.logo .fox
{
    width: 44px;
    height: 43px;
    margin-left: 45px;
    margin-top: 7px;
    background: url("../img/Fox.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

@media(max-width:1440px)
{
    .logo .fox
    {
        background: url("../img/Fox.svg");
    }
}

#menu
{
    flex: 1;
    margin-right: 80px;
    margin-top: 6px;
}

.loggined #menu
{
    margin-right: 43px;
}

#menu>li
{
    padding: 0px 10px;
    padding-right: 15px;
    padding-top: 20px;
    transition: 0.25s;
    float: right;
    display: flex;
    align-items: center;
    border-radius:30px;
    border: 1px solid transparent;
    height: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #313131;
}

#menu>li a
{
    color: #313131;
    padding: 0px 10px;
    transition: 0.25s;
}

#menu>li .letter
{
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 10px;
}

#menu a:hover
{
    color: #818181;
}

.nav a:hover p
{
    color: #818181;
}

#menu a:hover path
{
    fill: #818181;
}

#menu .profile
{
    padding-right: 0px;
}

#menu .profile a
{
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 10px;
}

#menu .logout a
{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 10px;
}

.nav p
{
    display: flex;
    float: right;
    align-items: center;
    border-radius:30px;
    border: 1px solid transparent;
    height: 25px;
}


.nav-toggle
{
    float: right;
    display: none;
    margin-right: 30px;
}

.nav-toggle:hover #ham path
{
    stroke: #818181;
}

#ham
{
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#ham path
{
    stroke: #313131;
    transition: 0.2s;
}

#ham.active path
{
    stroke: black;
    transition: 0.2s;
}

.hamRotate.activee
{
    transform: rotate(45deg);
}

.hamRotate180.activee
{
    transform: rotate(180deg);
}

.line
{
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
}

.ham1 .top
{
    stroke-dasharray: 40 139;
}

.ham1 .bottom
{
    stroke-dasharray: 40 180;
}

.ham1.activee .top
{
    stroke-dashoffset: -98px;
}

.ham1.activee .bottom
{
    stroke-dashoffset: -138px;
}

@media(max-width:1000px)
{
    .logo
    {
        margin-left: 50px;
    }
    #menu
    {
        display: block;
        float: right;
        background: #FAFAFA;
        margin-right: -106px;
        margin-top: 74px;
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
        height: 220px;
    }
    .loggined #menu
    {
        margin-right: -106px;
        height: 250px;
    }
    #menu .logout a
    {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 10px;
        margin-left: 11px;
    }
    #menu.activee
    {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }
    #menu>li
    {
        float: none;
        padding-top: 35px;
    }
    #menu>li>a
    {
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    #menu.actives>li>a
    {
        -webkit-transform: translateX(90px);
        -ms-transform: translateX(90px);
        transform: translateX(90px);
    }

    .nav-toggle
    {
        display: flex!important;
    }
}

@media(max-width:406px)
{
    #menu
    {
        margin-top: 24px;
    }

    .nav-toggle
    {
        margin-right: 0px!important;
    }
    
    .logo
    {
        margin-left: 20px!important;
    }
}

@media(max-aspect-ratio:16/9)
{
    body
    {
        background-size: 200vh;
        background-position-x: center;
    }
}

.exp
{
    width: 400px;
    height: 1500px;
}