/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body
{
    background: #F3F3F3;
}

label
{
    display: none;
}

.changeJob
{
    background: #3AB9DA;
    border: 2px solid #3AB9DA;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;

    max-width: 800px;
    width: 80vw;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-bottom: 83px;
}

.addJob
{
    background: #E3EFF2;
}

.form-control
{
    border: none;
    max-width: calc(800px - 143px);
    width: calc(-143px + 80vw);
    margin-right: auto;
    margin-left: 60px;
    padding-left: 20px;

    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    color: #313131;

    resize: none;
}

.form-control::-webkit-input-placeholder {
    color: #c2c2c2;
}

input[name]
{
    height: 40px;
    margin-top: 40px;
}

#id_description
{
    margin-top: 21px;
    padding-top: 14px;
    height: 80px;
}

#id_content
{
    margin-top: 21px;
    padding-top: 14px;
    height: 165px;
}

.but
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;

    color: #3E3E3E;

    margin-top: 21px;
    background: #FFFFFF;
    border: none;
    cursor: pointer;

    padding: 10px 21px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.addJob .but
{
    background: #3AB9DA;
    color: #FFFFFF;
}

.but:hover
{
    background: #DFDFDF;
}

.del
{
    float: left;
    margin-left: 60px;
    margin-top: 21px;
}


.can
{
    float: right;
    margin-right: 15px;
    padding: 10px 26px;
}

.sav
{
    float: right;
    margin-right: 60px;
    padding: 10px 10px;

}

@media(max-width:650px)
{
    .del
    {
        width: 77px;
        float: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .sav
    {
        float: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .addJob .sav
    {
        margin-top: 40px;
    }

    .can
    {
        width: 66px;
        float: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .changeJob
    {
        padding-bottom: 0px;
    }
}